<header class="navbar navbar-fixed-top navbar-inverse menu">
  <div class="container">
    <%= link_to "Major Scheduler", root_path, id: "logo" %>
    <nav>
      <ul class="nav nav-pilled nav-justified menu">
        <% if logged_in? %>
          <li><%= link_to "Home",   root_path , class: 'menu-item'%></li>
          <li><%= link_to "Your Schedule",   yourSchedule_path, class: 'menu-item' %></li>
          <li><%= link_to "Log out", logout_path , class: 'menu-item', method: "delete"%></li>

          <li><%= link_to "Welcome, Hi", current_user, class: 'menu-item'%></li>
        <% else %>
          <li><%= link_to "Home",   root_path , class: 'menu-item'%></li>
          <li><%= link_to "Log in", login_path , class: 'menu-item'%></li>
          <li><%= link_to "Sign Up!", signup_path , class: 'menu-item'%></li>
          <li><%= link_to "About", about_path , class: 'menu-item'%></li>
        <% end %>
        
      </ul>
    </nav>
  </div>
</header>